/************************************************
    UTILITIES
************************************************/
nav {
    height: 75px;
    background-color: aqua;
}

.ms_aside {
    width: 70px;
    height: calc(100vh - 75px);
    background-color: blue;
}

.ms_scroll{
    width: calc(100vw - 70px);

    overflow-y: auto;
}

.ms_blue{
    height: 115px;
    background-color: beige;
}

.ms_cards {
    height: calc(100vh - 190px);
}

.ms_card {
    height: 322px;

    background-color: chocolate;
}


* {
    /* border: .1px solid yellowgreen; */
}

@media screen and (min-width: 992px){ 
    .ms_aside {
        width: 150px;
    }
    
    .ms_scroll{
        width: calc(100vw - 150px);
    }
}