/************************************************
    UTILITIES
************************************************/
body{
    overflow-y: hidden;
}

nav {
    height: 75px;
}

.ms_mobile_logo {
    width: 40px;
}

.fa-bell {
    color: #ff8f00;
}

.ms_aside {
    width: 70px;
    height: calc(100vh - 75px);
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}

.ms_scroll{
    width: calc(100vw - 70px);

    overflow-y: auto;
}

.ms_btn {
    background-color: #165bba;
    color: white;
    font-size: 13px;
}

.ms_cards {
    height: calc(100vh - 190px);
}

.ms_code {
    width: 30px;
}

.btn-outline-secondary {
    width: 30px;
    height: 33px;
}

/************************************************
    RESPONSIVE
************************************************/

@media screen and (min-width: 992px){ 
    .ms_aside {
        width: 150px;
    }
    
    .ms_scroll{
        width: calc(100vw - 150px);
    }
}